.about {
	padding: 30px 0;

	@media all and (min-width: $md) {
		padding: 40px 0;
	}

	@media all and (min-width: $xl) {
		padding: 105px 0;
	}

	.container {
		@media all and (min-width: $md) {
			padding: 0 36px;
		}

		@media all and (min-width: $xl) {
			padding: 0 20px;
		}
	}

	.h2 {
		text-align: left;
		margin-bottom: 20px;
	}

	&__subtitle, &__item {
		color: #45494B;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 120%;

		@media all and (min-width: $md) {
			font-size: 18px;
		}
	}

	&__subtitle {
		margin-bottom: 28px;

		@media all and (min-width: $md) {
			margin-bottom: 40px;
		}
	}

	&__item {
		margin-bottom: 20px;
		padding-left: 25px;
		position: relative;

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 0;
			top: 10px;
			width: 12px;
			height: 4px;
			background-color: #969DA0;
			border-radius: 4px;

			@media all and (min-width: $md) {
				width: 20px;
				height: 4px;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		@media all and (min-width: $md) {
			padding-left: 40px;
		}
	}

	&__income {
		margin-top: 30px;
		max-width: 306px;

		@media all and (min-width: $md) {
			padding-left: 40px;
			margin-top: 40px;
		}

		&_title {
			color: $text;
			font-family: $ff;
			font-size: 24px;
			font-style: normal;
			font-weight: $fw-bold;
			line-height: 120%;
			margin-bottom: 4px;

			@media all and (min-width: $md) {
				font-size: 32px;
			}
		}

		&_text {
			color:#45494B;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: 120%;
			max-width: 210px;

			@media all and (min-width: $md) {
				font-size: 18px;
			} 

			span {
				font-weight: $fw-bold;
			}
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media all and (min-width: $xl) {
			flex-direction: row;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		padding: 24px;
		background-color: #F7F7F7;
		border-radius: $bord8;

		@media all and (min-width: $md) {
			padding: 40px;
		}

		@media all and (min-width: $xl) {
			max-width: 636px;
		}
	}

	&__img {
		display: flex;
		justify-content: center;
		position: relative;
		margin-top: 25px;

		@media all and (min-width: $xl) {
			margin-left: 24px;
			margin-top: 0;
		}

		&_desc {
			display: none;
			position: absolute;
			left: 50px;
			top: 38px;
			color: #45494B;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: 120%;
			text-transform: uppercase;
			padding: 16px 24px;
			border-radius: $bord8;
			border-radius: 8px;
			background-color: rgba(255, 255, 255, 0.70);
			backdrop-filter: blur(2.5px);

			@media all and (min-width: $xl) {
				display: block;
			}

			&.mobile {
				position: static;
				display: block;
				width: 137px;
				font-size: 14px;
				padding: 12px 20px;
				margin-bottom: 20px;
				margin-top: 10px;

				@media all and (min-width: $md) {
					font-size: 16px;
					padding: 16px 24px;
					width: 159px;
					margin-top: 0;
				}

				@media all and (min-width: $xl) {
					display: none;
				}
			}
		}
	}

	.button {
		margin-top: 32px;

		@media all and (min-width: $xl) {
			margin-top: auto;
		}
	}
}