.hero {
	padding: 80px 0 10px;

	@media all and (min-width: $md) {
		padding: 120px 0 60px;
	}

	.container {
		padding: 0;

		@media all and (min-width: $md) {
			padding: 0 36px;
		}

		@media all and (min-width: $xl) {
			padding: 0 20px;
		}
	}

	.h1 {
		margin-bottom: 33px;

		@media all and (min-width: $md) {
			margin-bottom: 40px;
		}

		@media all and (min-width: $xl) {
			margin-bottom: 72px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $beige;
		position: relative;
		padding-top: 33px;
		position: relative;

		.hero__author {
			position: relative;
			z-index: 10;
		}

		@media all and (min-width: $md) {
			padding-top: 52px;
			padding-left: 40px;
			padding-right: 40px;
		}

		@media all and (min-width: $xl) {
			flex-direction: row;
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;

			&::before {
				content: "";
				display: block;
				height: 50px;
				width: 100%;
				background-color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
			}
		}
	}

	&__img {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
		order: 2;
		margin-top: 32px;

		@media all and (min-width: $md) {
			margin-top: 50px;
		}

		@media all and (min-width: $xl) {
			width: 50%;
			order: 1;
			justify-content: flex-start;
			margin-top: 0;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		order: 1;

		@media all and (min-width: $xl) {
			width: 50%;
			padding-left: 18px;
			order: 2;
			padding-bottom: 13px;
		}
	}

	&__button {
		margin: 0 auto;

		@media all and (min-width: $md) {
			width: 100%;
			max-width: 100%;
		}

		@media all and (min-width: $xl) {
			width: auto;
			margin: 0;
		}
	}

	.left__dots, .right__dots {
		position: absolute;
		z-index: 11;
	}

	.left__dots {
		top: 12px;
		left: -30px;
		display: none;

		@media all and (min-width: $lg) {
			display: block;
		}

		@media all and (min-width: $xl) {
			display: block;
			top: 18px;
			left: -30px;
		}
	}

	.right__dots {
		right: 30px;
		bottom: -33px;
		display: none;

		@media all and (min-width: $md) {
			display: block;
			right: 581px;
			bottom: 403px;
			transform: scale(-1, 1);
		}

		@media all and (min-width: $lg) {
			right: 30px;
			bottom: -33px;
			transform: scale(1, 1);
		}
	}

	.online__course {
		margin: 0 auto 16px auto;

		@media all and (min-width: $xl) {
			margin: 0 0 32px 0;
		}
	}
}

.online__course {
	width: 201px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.70);
	backdrop-filter: blur(2.5px);
	color: #45494B;
	font-family: $ff;
	font-size: 14px;
	font-style: normal;
	font-weight: $fw-medium;
	line-height: 120%;
	text-transform: uppercase;

	@media all and (min-width: $md) {
		width: 232px;
		font-size: 16px;
		padding: 13px 24px;
	}
}